<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>profesion</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
    </body>
        <h4>И на Марсе будут яблони цвести!</h4>
    <h2>Оформления каюты</h2>
    <table>
        <tr>
            <td>Цвет Стены</td> <td>Эмблема</td>
        <tr>
            <td colspan="2" style="background-color: {{ wall_color }};"></td>
            <td><img src="{{ alien_image }}" alt="Марсианин" width="200"></td>
        </tr>
    </table>
</html>
